.env
.env.*
.env.example

node_modules
node_modules/

npm-debug.log
npm-debug.log*
yarn-debug.log
yarn-error.log
pnpm-debug.log

build
build/
dist
dist/
.out
.cache

.vite
.next

logs
logs/
*.log

coverage
*.lcov

*.db
*.sqlite
*.sqlite3

uploads
uploads/

.vscode
.idea
*.swp
*.swo
*.bak

.DS_Store
Thumbs.db
desktop.ini
*.tmp
*.temp

.vercel
.netlify
.firebase

Dockerfile
.dockerignore

*.zip
*.rar
*.7z

*.pem
*.key
*.crt
